{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <br><br>
        <p class="p is-size-3"> System description </p>
        <p class="p">A demo website for uploading and viewing of new videos. This platform is inspired by 
            freecodecamp.org design. The developer of this project is fascinated the way freecodecamp.org 
            provide free educational contents using the web. 
    
            The system is mainly used to upload videos by the administrator (preferrably educational videos) and can be played by the users at the other end of the
            system. The files that can be uploaded are jpeg, png, wav and mp4 files. 
    
            As the end user (student), uploading videos is prohibited. 
    
            The system's current version is at its basic framework and is subject for improvements.
        </p>

        <br>
        <br>
        <p class="p is-size-3">
            About the Developer 
        </p>
        
        <p class="p">
            Ramel Celada is a 4th year BS Information Technology student at Cavite State University Carmona Campus.
            He specializes in web development using Python, JavaScript, SQL and React for developing dynamic websites
            accross platforms.
        <br> <br>
        </p>
        <p class="p">
            He also specialize in developing web API's for custom and/or hybrid systems using free and freemium API's from the web.
        </p>
    </div>

{% endblock content %}