{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-6">
                <p class="p is-size-3">Set New Password:</p>
                <form method="POST">
                    {{ form.csrf_token() }}
                    {{ form.password.label }}  {{ form.password(class = 'input') }}
                    <br> <br>
                    {{ form.confirm.label }}  {{ form.confirm(class = 'input') }}
                    <br>
                    <br>
                    <input type="submit" value="Submit" class="button is-primary is-pulled-right">
                </form>
            </div>
            <div class="column"></div>
        </div>
    </div>
    
{% endblock %}
